@import '~mdb-ui-kit/css/mdb.min.css';

.background{
    background-image: radial-gradient(rgba(247, 247, 247, 0.868), rgba(209, 151, 218, 0.63));
}

#title { 
    margin: auto;
    font-size: 48px;
    font-family: Barrio, cursive;
    padding: 10px;
    text-shadow: 6px 5px 8px rgba(15, 27, 28, 0.714);
    background-color: rgba(242, 174, 48, 0.405);
    /*width: 37%;*/
    max-width:max-content;
    color: rgb(238, 19, 110);
    text-align: center; 
    overflow: hidden;
   
} 

.myName{
    text-align: center;
    width: 20%;
    color: rgba(0, 0, 0, 0.508);
    font-family: Caveat, cursive;
    font-size: 23px;
    font-weight: 600;
}

*{
    margin: 0;
}

.navbar {
    justify-content: center;
  }
.nav-item{
    padding-left: 16px;
    padding-right: 16px;
}
.nav-item:hover{
    box-shadow: 1px 1px 3px 2px rgb(248, 27, 119);
    font-size: 16px;
    font-weight: bold;
}

.newsletter{
    width: 32%;
}

.newsLetterHeading{
    font-size: 47px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px rgba(83, 83, 83, 0.533);
}

.footerTitle{
    font-size: 29px; 
    /*color: rgb(255, 17, 116); */
    font-family: barrio, serif;
    text-shadow: 2px 2px 4px rgba(158, 157, 157, 0.67);
}
.footerLeft{
    font-size: large;
    text-decoration: underline;
}