*{
    margin: 0;
}

.navbar {
    justify-content: center;
  }
.nav-item{
    padding-left: 16px;
    padding-right: 16px;
}
.nav-item:hover{
    box-shadow: 1px 1px 3px 2px rgb(248, 27, 119);
    font-size: 16px;
    font-weight: bold;
}

.text-white pre{
    color: rgba(250, 250, 250, 0.885);
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-stretch: extra-expanded;
    font-weight: 600;
}
#titleTyping{
    font-size: 55px;
    font-weight: 700;
    color: rgb(255, 17, 116);
    font-family: barrio, serif; 
    text-shadow: 2px 2px 8px rgba(158, 157, 157, 0.67);
    background-color: rgba(70, 70, 70, 0.404); 
}
@media screen and (max-width: 768px) {
    #titleTyping {
        font-size: 8vw; /* Adjust font size for smaller screens */
    }
}

.fashion-affair{
    width: 77%;
}
.card{
    margin: 20px;
    background-image: radial-gradient( rgba(0, 0, 0, 0.81), rgb(0, 0, 0)); 
    
}
.card:hover{
    box-shadow: 3px 3px 12px 4px rgba(69, 68, 68, 0.485);
}
.card img{
    height: 340px;
    width: 100%;
} 

.card-title{
    font-family: barrio, serif;
    color: rgb(255, 53, 137);
    font-weight: 400;
    font-size: 30px;
}

.card-text{
    color: whitesmoke;
    font-size: large;
    line-height: 33px;
    font-family: text me one, serif;
}

.butt:hover{
    font-size: 16px;
}

#hr1{ 
    width: 60%;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.607);
}

#hr2{
    width: 60%;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.607);
}

#subheading{
    color: rgb(3, 74, 146);  
    font-family: Ribeye, cursive; 
    text-align: center; 
    font-size: 60px; 
    text-shadow: 3px 3px 7px rgb(47, 46, 46);
    animation: animation-2 2s ease-in 0.2s infinite;
}
@keyframes animation-2{
    0% {color: rgb(72, 156, 239);}
    25% {color: rgb(107, 215, 255);}
    50% {color: rgb(0, 129, 165);}
    75% {color: rgb(20, 77, 247);}
    100% {color: rgb(0, 61, 121);}
}

.card-group{
    width: 93%;
}

#gallery{
    width: 90%;
    margin: auto;
}

#hr-3{
    width: 70%;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.607);
}

.newsletter{
    width: 32%;
}

.newsLetterHeading{
    font-size: 47px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px rgba(83, 83, 83, 0.533);
}

.footerTitle{
    font-size: 29px; 
    /*color: rgb(255, 17, 116); */
    font-family: barrio, serif;
    text-shadow: 2px 2px 4px rgba(158, 157, 157, 0.67);
}
.footerLeft{
    font-size: large;
    text-decoration: underline;
}

